.main{
  border: 2px solid blue;
  padding: 2%;
  display:flex;
}
h4{
  color: blue;
}
p{
  word-wrap: break-word;
}
a
{
  color: brown;
  font-size: 40px;
  word-wrap: break-word;
}

.left{
    border: 2px solid green;
    padding: 2%;
    margin: 2%;
    width: 30%;
    text-align: center;
}
.table1{
  width: 90%;
  overflow-x: auto;
}
#name{
  color: purple;
  font-size: 20px;
  text-align: center;
}
.left img{
  width:50%;
  border-radius: 50%;
  border: 2px solid green;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.right{
  border: 2px solid pink;
  padding: 2%;
  margin: 2%;
  width: 70%;
}
@media only screen and (min-width: 0px) and (max-width: 480px){
  .main{
    border: 2px solid blue;
    padding: 2%;
    display:flex;
    flex-direction: column;
  }
  h4{
    color: blue;
  }
  a
  {
    color: brown;
    font-size: 40px;
    word-wrap: break-word;
  }

  .left{
      border: 2px solid green;
      padding: 2%;
      margin: 2%;
      width: 90%;
      text-align: center;
      background-color: skyblue;
  }
  .table1{
    width: 90;
    overflow-x: auto;
  }
  #name{
    color: purple;
    font-size: 20px;
    text-align: center;
  }
  .left img{
    width:30%;
    border-radius: 50%;
    border: 2px solid green;
    display: block;
    margin-left: auto;
    margin-right: auto;

  }
  .right{
    border: 2px solid pink;
    padding: 2%;
    margin: 2%;
    width: 90%;
    background-color: skyblue;

  }
  @media only screen and (min-width: 480px) and (max-width: 600px){
    .main{
      border: 2px solid blue;
      padding: 2%;
      display:flex;
      flex-direction: row;
    }
    h4{
      color: blue;
    }
    a
    {
      color: brown;
      font-size: 40px;
      word-wrap: break-word;
    }

    .left{
        border: 2px solid green;
        padding: 2%;
        margin: 2%;
        width: 40%;
        text-align: center;
        background-color: pink;
    }
    #name{
      color: purple;
      font-size: 20px;
      text-align: center;
    }
    .left img{
      width:30%;
      border-radius: 50%;
      border: 2px solid green;
      display: block;
      margin-left: auto;
      margin-right: auto;

    }
    .right{
      border: 2px solid pink;
      padding: 2%;
      margin: 2%;
      width: 40%;
      background-color: pink;

    }


}
